<!-- views/partials/ _header.ejs-->

<!DOCTYPE html>
<html style="font-family: 'Roboto', sans-serif">
<head>
  <title>Tiny App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <% if(!username){ %>
      <form method="POST" action="/login">
        <input type="text" name="username"></input>
        <button type="submit" value="Submit" class="btn btn-primary">Submit</button> 
      </form> 
    <% } else{ %>  
      <h2>Hi, <%= username %></h1>
      <form method="POST" action="/logout">
          <input type="text" name="username"></input>
          <button type="logout" value="Log Out" class="btn btn-dark">Log Out</button> 
      </form> 
    <% } %>
  </div>
</body>
</html>
