<!-- views/partials/ _header.ejs-->

  <div class="container">
      <h1>Tiny App <i class="far fa-hand-scissors"></i></h1>
  
       <% if (locals.currentUser === undefined) { %>
        <a href="/register"><button type="submit" value="Register" class="btn btn-primary">Register</button></a>
        <a href="/login"><button type="logout" value="Log In" class="btn btn-dark">Log In</button></a>

      <% } else { %>

      <h3>Welcome back,  <%= currentUser.email %></h3><form method="POST" action="/logout">
        <button type="submit" value="Log Out" class="btn btn-secondary" style="margin-bottom: 2em">Log Out</button>
      </form>
    
      <br>
      <button type="submit" value="Add" class="btn btn-info" style="margin-right: 1em; padding-right: 1em"><a href="/urls" style="color: white">My Links</a></button> <button type="submit" value="Links" class="btn btn-info"><a href="/public" style="color:white">Public Links</a></button>
      <br>
      <form method="GET" action="/urls/new">
        <br>
        <button type="submit" value="Add" class="btn  btn-primary">Add a new Link</button>
      </form>
      <br>
      
      <% } %> 
  </div>

