<!-- views show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>
  <div class="container">   
      
    <!-- EJS Code -->
    <h1 class="display-5 ml-1 p-3">Short URL</h1>
    <a href="/urls" class="btn btn-secondary">Back to URLs</a>
    <div class="form-group">
      <class="form-control">Short Url:<br>
        <p class="form-control"><%= shortURL %></p>
      <class="form-control">Long Url:<br>
        <p class="form-control"><%= longURL %></p>
    </div>
  </div>    
</body>
</html>