<!-- views public.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
 
</head>
<body>
 
    <% include partials/_header %>
  <div class="container form-control"> 
    <h2 class="dark-title">Links</h2>
    <table class="table table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Short URL</th>
          <th scope="col">Long URL:</th>
        </tr>
      </thead>
        <tbody>
          <!-- EJS Code -->
          <% for (var item in urls) { %>
          <tr> 
              <th scope="row">#</th>
              <td><%= item %></td>
              <td><a href="<%= urls[item].url %>" class="blue-url"><%= urls[item].url %></a></td>
              <td>
              
          </tr>
          <% }; %>   
        </tbody>
    </table>
  </div>  
</body>
</html>
