<!-- views show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
  <% include partials/_header %>
  
  <div class="container">   
    <h1 class="display-5 ml-1 p-3">Short URL</h1>
    <a href="/urls" class="btn btn-secondary">Back to URLs</a>
    <div class="form-group">
      <!-- EJS Code -->
      <h2>Short Url: <%= shortURL %> </h2> 
      <form method="POST" action="/urls/<%= shortURL %>" class="form-control">
        <input type="text" class="form-control" value="<%= longURL %>" name="longURL"></input>
        <button type="update" value="<%= longURL %>" class="btn btn-info">Update</button>
      </form>  
    </div>
  </div>    
</body>
</html>