<!-- views show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>
    <!-- EJS Code -->
    <h1>Short URL</h1>
    <h2>Your short URL is : <%= shortURL %> for  <%= longURL %></h2>
      
    </ul>
</body>
</html>