<!-- views show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>
    <!-- EJS Code -->
    <p><%= shortURL %> : <%= longURL %></p>
      
    </ul>
</body>
</html>