<!-- views show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>

  <% include partials/_header %>
  <div class="container">   
    
    <div class="form-group">
      <!-- EJS Code -->
      <h2 style="margin-bottom: .5em">Short URL: <%= shortURL %> </h2> 
      <form method="POST" action="/urls/<%= shortURL %>" class="form-control">
        <input type="text" class="form-control" value="<%= longURL %>" style="margin-bottom: .5em" name="longURL"></input>
        <button type="update" value="<%= longURL %>" class="btn btn-info">Update</button>
      </form>  
    </div>
  </div>    
</body>
</html>