<!-- views index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body style="margin-left: 5em">
    <!-- EJS Code -->
    <h1>Your short URLs</h1>
    <ul style="list-style-type: none">
      <% for (var item in urls) { %>
        <li><a href="#"><%= item %></a> ( <%= urls[item] %> )</li>
      <% }; %>
      
    </ul>
</body>
</html>
